<% provide(:title, 'Sign up') %>
<h1 style= "color: #FD5DA8;">Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name, style: "color: #FD5DA8;"%>
      <%= f.text_field :name, class: 'form-control', style: "color: #FD5DA8;" %>
      <%= f.label :email, style: "color: #FD5DA8;"%>
      <%= f.email_field :email, class: 'form-control', style: "color: #FD5DA8;" %>
      <%= f.label :password, style: "color: #FD5DA8;"%>
      <%= f.password_field :password, class: 'form-control', style: "color: #FD5DA8;" %>
      <%= f.label :password_confirmation, "Confirmation", style: "color: #FD5DA8;"%>
      <%= f.password_field :password_confirmation, class: 'form-control', style: "color: #FD5DA8;" %>
      <%= f.submit "Create my account", class: "btn btnprimary" %>
    <% end %>
  </div>
</div>
